.wrapper {
  display: grid;
  grid-template-rows: 60px auto 40px;
  grid-template-columns: 200px auto;
  grid-template-areas:
    'header header'
    'sidebar main'
    'footer footer';
  width: 100vw;
  height: 100vh;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
  background-color: lightgrey;
  overflow: auto;
}

.main {
  grid-area: main;
  background-color:lightgray;
}

.footer {
  grid-area: footer;
  background-color:#0F5CA0;
}