
.HeaderComponent {
    background-color:#0F5CA0;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    background-color:#0F5CA0;
    /* height: 60px; */
    font-size: small;
    font-weight: bold;
  }
  